.compWrapper {
  background-color: #666262a9;
  color: white;
  margin-top: 50px;
  width: 85%;
  margin-left: 10%;
}
#compRow {
  padding-left: 0px;
  width: 100%;
  margin-left: 0px;
  margin-top: 30px;
}

.teamList {
  padding-right: 10%;
}
.btn {
  font-size: 30px;
}

.pick {
  background-color: #0313fc;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
.pick:hover {
  opacity: 0.4;
}

.teamName {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  background-color: #f4fc03;
  font-size: 20px;
}