.row {
  padding-left: 20px;
  margin: 0;
  margin-left: 20%;
}

.teamList {
  padding-right: 25px;
}

.box {
  padding-left: 20px;
  padding-right: 20px
}

.btn {
  font-size: 30px;
}

.pick {
  background-color: #0313fc;
}

.teamName {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #f4fc03;
  font-size: 20px;
}