.manWrapper {
  background-color: #666262a9;
  color: white;
  margin-top: 50px;
  width: 75%;
  margin-left: 10%;
}
.row {
  
  color: white;
  margin-top: 100px;
  width: 50%;
  margin-left: 25%;
}
.pickOne, .pickTwo {
  border: none;
  
}
#manPlay {
  width: 50%;
}
#manPlay:active {
  text-decoration: none;
}
.game {
  font-size: 30px;
}
.game:hover {
  opacity: 0.6;
  text-decoration: none;
}

#manual {
  color: black;
  padding-left: 30%;
  padding-top: 5%;
}

#teahead {
  font-size: 35px;
  width: 50%;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline: 3px dotted red;
}

.pickOne, .pickTwo {
  font-size: 18px;
}
#picks1 {
  
}